body {
  color: #222;
  background-color: #f4f4f4;
  font: 400 14px CoreSans, Ariel, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  color: #808080;
  cursor: pointer;
}

button:hover {
  color: #222;
}